# Hello Everyone this is the test of JNB

We all are test & learning how to Use JNB

In [4]:
print("Hello BDA 01")

Hello BDA 01

# Numbers in Python

In [5]:
BDA=20

In [6]:
BDA

20

In [7]:
BDA

20

In [8]:
type(BDA)

int

In [9]:
AKSHAYA = 29

In [10]:
AKSHAYA

29

In [11]:
type(AKSHAYA)

int

In [12]:
BDA+AKSHAYA

49

In [13]:
AKSHAYA*BDA

580

In [14]:
AKSHAYA/BDA

1.45

# FLOAT

In [15]:
AKSVIS=29.28

In [16]:
AKSVIS

29.28

In [17]:
LK=10.29

In [18]:
LK

10.29

In [19]:
AKSVIS-LK

18.990000000000002

# STRINGS

In [20]:
lunch="Biryani"

In [22]:
lunch[0]

'B'

In [23]:
lunch[:4]

'Biry'

In [24]:
sunday= "BusinessDataAnalytics"

In [25]:
sunday

'BusinessDataAnalytics'

In [26]:
sunday[1:20]

'usinessDataAnalytic'

In [27]:
sunday[::-1]

'scitylanAataDssenisuB'

In [28]:
sunday[::2]

'BsnsDtAayis'

In [29]:
sunday[::-3]

'staaDes'

In [30]:
sunday[::]

'BusinessDataAnalytics'

In [31]:
sunday[::1]

'BusinessDataAnalytics'

In [32]:
sunday[1:7]

'usines'

In [33]:
sunday[1:8]

'usiness'

# LIST

In [46]:
week=["sunday","monday","wednesday",29,28,[28,10,"vivek","thursday"],28,True]

In [47]:
week

['sunday',
 'monday',
 'wednesday',
 29,
 28,
 [28, 10, 'vivek', 'thursday'],
 28,
 True]

In [48]:
week.count(28)

2

In [39]:
week.insert(1,4)

In [41]:
week

['sunday',
 4,
 'monday',
 'wednesday',
 29,
 28,
 [28, 10, 'vivek', 'thursday'],
 True]

In [42]:
week.pop()

True

In [49]:
week.reverse()

In [50]:
week

[True,
 28,
 [28, 10, 'vivek', 'thursday'],
 28,
 29,
 'wednesday',
 'monday',
 'sunday']

# DICTIONARY OPERATIONS

In [51]:
anyDicts={"hb":"Akshaya","dog":"keshav","cat":"pinky","fish":"rani"}

In [52]:
anyDicts

{'hb': 'Akshaya', 'dog': 'keshav', 'cat': 'pinky', 'fish': 'rani'}

In [53]:
type(anyDicts)

dict

In [54]:
anyDicts.keys()

dict_keys(['hb', 'dog', 'cat', 'fish'])

In [55]:
anyDicts.values()

dict_values(['Akshaya', 'keshav', 'pinky', 'rani'])

In [57]:
anyDicts.update({"hb":"vivek"})

In [60]:
anyDicts.get("hb")

'vivek'

In [61]:
anyDicts.get("dog")

'keshav'

# TUPLES OPERATIONS

In [64]:
anyTuple=("achu","ajith",28,5,False)

In [65]:
anyTuple.count("ajith")

1

In [68]:
anyTuple.index(28)

2

# SETS OPERATIONS

In [69]:
anySet={"BDA",2,1,2,False}

In [71]:
anySet

{1, 2, 'BDA', False}

In [72]:
anySet.add(29)

In [73]:
anySet

{1, 2, 29, 'BDA', False}

In [74]:
anySet.pop()

False

In [75]:
anySet

{1, 2, 29, 'BDA'}

In [76]:
anySet.intersection()

{1, 2, 29, 'BDA'}

# BOOLEAN OPERATION

In [77]:
True

True

In [78]:
28>29

False

In [79]:
10<28

True

In [81]:
5-28>23

False

In [84]:
5>6<12

False

# COMPARISION OPERATOR

== To check whether two operators equal or not

# 10==3

In [86]:
10==10

True

In [87]:
Y=10

In [88]:
X=100

In [89]:
X==Y

False

!= to check two opearnds not equal to or not

In [90]:
x!=y

NameError: name 'x' is not defined

In [91]:
X!=Y

True

GREATER THAN OPERATOR

In [92]:
X>Y

True

In [93]:
Y>X

False

LESSER THAN OPERATOR

In [94]:
X<Y

False

In [95]:
Y<X

True

GREATER THAN OR EQUAL TOO

In [96]:
Z=40

In [97]:
X>=Y

True

In [98]:
Y>=X

False

In [99]:
Y>=Z

False

LESS THAN OR EQUAL TOO

In [100]:
X<=Y

False

In [101]:
Y<=Z

True

# CHAINED COMP STATEMENT

In [102]:
(40>100) or (50<100) #or operator

True

In [103]:
(40>100) and (100>50) #and operator

False

In [104]:
not (40>100) #not opeartor

True

# FLOW CONTROL, STATEMENTS

# IF,Elif, Else

In [105]:
if 40>50:
    print("First statement was true")
    print("First Block Printed")
elif 50>90:
    print("Second Elif statement was true")
    print("First Block printed")
else:
    print("Nothing left hence printing the Block")

Nothing left hence printing the Block